<%# Pro-tip: Always remember to include the htmx header and footer to pages %>
<%- include('partials/_htmx-header') %>
    <section class="section">
        <div class="container">
            <h1 class="title is-2">Your first htmx-app. Probably.</h1>
            <div id="content-swap" class="my-4">
                <button type="button" hx-get="/congrats/1" hx-swap="innerHTML" hx-target="#content-swap" class="button is-primary">Click Me.</button>
            </div>
            <hr>
            <p class="mt-4">Created to make your dev-life easier</p>
        </div>
    </section>
<%- include('partials/_htmx-footer') %>
