<!DOCTYPE html>
<html lang="en" data-theme="aqua">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <!-- HTMX is bundled in /static/app.js -->
    <script src="/static/app.js" defer></script>
    <link rel="stylesheet" href="/static/app.css">
</head>