<!DOCTYPE html>
<html lang="en" data-theme="winter">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <!-- Include htmx script tag directly -->
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/htmx.min.js"></script>
    <script src="/static/app.js" defer></script>
    <link rel="stylesheet" href="/static/app.css">
</head>